services:
  server:
    build: .
    restart: unless-stopped
    ports:
      - "8080:8080"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/healthz" ]
      interval: 0s
      timeout: 10s
      retries: 1
      start_period: 3s
